body {
    width: 1280px;
    height:720px;
}

.container {
    padding-top: 20px;
}

#emailTextInput {
    width:400px;
    margin-bottom: 40px;
    resize: none;
}

#btnTextUpload {
margin-bottom: 20px;
}

#btnAddressUpload {
    margin-bottom: 20px;
}

.emailAddressTableBlock {
    margin-right: 40px;
}

#emailAddressTable {
    margin-bottom: 47px;
    display:block;
    width:300px;
    height:245px;
    overflow-y: scroll;
    overflow-x:auto;
}

#emailAddressInput {
    margin-top: 60px;
    margin-bottom: 20px;
    width:250px;
}

#btnAddressAdd {
    margin-bottom: 50px;
}

.btn {
    width:250px;
}

.rangeBlock {
    margin-top: 60px;
}